:root {
--white: #ffffff;
--darker-white: #f8f8f8;
--gray: #cccccc;
--light-gray: #eeeeee;
--green: #3eb658;
--dark-green: #2c8640;
--pink: #ff9aa6;
--lighter-pink: #ffcad0;
--dark-pink: #942e48;
--neon-pink: #f8537d;
--black: #333333;
}