/* CSS Minimize Reset */

*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* End CSS Minimize Reset */


body {
    background-color: var(--pink);
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: var(--black);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}

.container {
    width: 550px;
    padding: 20px;
}

.main-content {
    padding: 30px;
    border-radius: 30px;
    background-color: var(--lighter-pink);
}

.content-header {
    padding: 10px;
    text-align: center;
}

.content-header__title {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--dark-pink)
}

.content-body {
    padding: 20px;
    text-align: center;
}

#highscore {
    color:var(--green);
    margin-left: 10px;
}

.content-body__score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-body__number {
    font-size: 5rem;
    font-weight: 800;
}

.content-body__guesser {
    margin-top: 20px;
}

.content-body__guesser--input {
    padding: 10px 20px;
    margin-bottom: 30px;
    border: 1px solid var(--dark-pink);
    font-size: 2rem;
    font-weight: 800;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    color: var(--dark-pink)
}

.content-body__guesser--message {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: 800;
}

.content-body__guesser--score {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.btn--guess {
    margin-right: 10px;
    border: 1px solid var(--neon-pink);
    background-color: var(--neon-pink);
    color: var(--white);
}

.btn--guess:hover {
    border: 1px solid var(--dark-pink);
    background-color: var(--dark-pink);
}

.btn--play {
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
}

.btn--play:hover {
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
}